#mainContent {
	height: 100vh;
	background-color: #26334d;

}

#navbar {
	height: 5vh;
	
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
	background-color: #26334D00;
	
	color: #f5f0f6;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

.barCat {
	min-width: 8%;
}

#btnHome {
	flex-grow: 1;
	color: #F0B420;
	font-size: 1.2em;
}


#mainCarousel {
	width: 100vw;
}

#home .col {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.section {
	height: 100%;
	background-color: #26334d;
	color: #f5f0f6;
	font-family: 'Dosis', sans-serif;
	padding-bottom: 5vh;

}


.background-image {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../resources/home.jpg') ;
	
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1.02);
}

.lineBottom {
	padding-bottom: 10px;
    border-bottom: 2px solid #F0B420; /* whichever color you prefer */
}


#studies .col {
	height: 100%;
}

#studies th {
    color: #46eaeb; /* whichever color you prefer */
	font-size: 1.4em;
}

#studies td {
	font-size: 1.2em;
}

.spaceTop>th {
	padding-top: 0.25em;
}


#projects .col {
	height: 100%;
}

#projectsWrapper {
	width: 100%;
	height: 100%;
	margin: 0;
}

#projectsWrapper > .col {
	max-width: 80vw;
	width: 50vw;
}


#projects .project {
	background-color: #304771;
	min-height: 20%;
	min-width: 60%;
	right: 0;
	left: 0;
	position: relative;

	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);

	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

#projects ul {
	margin: 0;
}

#projects .project h4{
	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;
	text-align: center;
}

#projects .project:hover h4{
    color: #46eaeb; /* whichever color you prefer */
}

.modal-backdrop {
  z-index: 0;
}

.modal .modal-content{
	color: black;
	background-color: #f5f0f6;
	max-height: 90vh;

}

.modal .btn {
	background-color: #304771;
	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

.modal .btn:hover {
	color: #F0B420;
}

.modal .img-fluid {
	max-width: 60%;
	max-height: 40vh;
}

.projectSpecs {
	height: 100%; 
	font-size: 1.2em;
}

.rowProjectDetails {
	margin-top: 20px;
}


